In [1]:
import pandas as pd

In [19]:
Data = pd.read_csv('Data_coffee.csv')
Data

,Unnamed: 0,New Code,code,Gropping,Sweetness,L,A,B,density,Fatty,...,histidine,arginine,valine,metheonine,tyrosine,isoleucine,leucine,phynylalanine,Tryptophan,adenosine
0,DC1,DC8001-1,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
1,DC1,DC8001-2,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
2,DC1,DC8001-3,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
3,DC1,DC8001-4,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
4,DC1,DC8001-5,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,BK4,BK-10004-1,F51,6,17.0,46.73,0.76,12.34,0.66,373.3,...,53.10,307.22,89.49,12.25,57.68,59.28,100.47,139.04,403.13,55.01
229,BK4,BK-10004-2,F51,6,17.0,46.73,0.76,12.34,0.66,373.3,...,53.10,307.22,89.49,12.25,57.68,59.28,100.47,139.04,403.13,55.01
230,DL900,DL900,F53,2,16.0,55.93,1.59,14.01,0.64,337.7,...,45.36,222.45,89.64,15.34,42.08,54.29,72.41,103.74,205.76,54.87
231,DL1250,DL1250,F53,2,14.0,52.94,1.55,13.51,0.69,329.3,...,40.15,220.06,85.60,18.36,56.65,53.28,74.40,111.45,319.62,49.76
232,DL1400,DL1400,F53,2,15.0,52.06,1.29,14.17,0.67,456.0,...,35.19,151.06,75.88,14.73,45.28,46.88,68.03,93.62,148.09,46.90

In [14]:
Data.isna().sum()

Unnamed: 0             0
New Code               0
 code                  0
Gropping               0
Sweetness             34
L                     25
A                     25
B                     25
density               25
Fatty                 25
Total_protein         18
Total_sugar           18
Total_phenol          18
Total_Flavonoid       18
Antioxidant           18
caffeic_acid          27
Caffeine              18
Chrogenic_acid        18
 Trigonelline         20
 Theobromine          37
K                     21
Ca                    21
Fe                    21
Zn                    21
Na                    21
Mg                    21
sucrose_maltose       20
fluctose_arabinise    20
Lactic_acid           18
Malic_acid            18
Propionic_acid        18
Quinic_acid           18
Apartic_acid          18
Serine                18
 alanine              18
glycine               18
threonine             18
 glutamic_acid        18
proline               18
lysine                18
histidine             18
arginine              18
valine                18
metheonine            18
tyrosine              18
isoleucine            18
leucine               18
 phynylalanine        18
Tryptophan            18
adenosine             18
dtype: int64

In [17]:
Data_notna = Data.dropna()

In [18]:
Data_notna.isna().sum()

Unnamed: 0            0
New Code              0
 code                 0
Gropping              0
Sweetness             0
L                     0
A                     0
B                     0
density               0
Fatty                 0
Total_protein         0
Total_sugar           0
Total_phenol          0
Total_Flavonoid       0
Antioxidant           0
caffeic_acid          0
Caffeine              0
Chrogenic_acid        0
 Trigonelline         0
 Theobromine          0
K                     0
Ca                    0
Fe                    0
Zn                    0
Na                    0
Mg                    0
sucrose_maltose       0
fluctose_arabinise    0
Lactic_acid           0
Malic_acid            0
Propionic_acid        0
Quinic_acid           0
Apartic_acid          0
Serine                0
 alanine              0
glycine               0
threonine             0
 glutamic_acid        0
proline               0
lysine                0
histidine             0
arginine              0
valine                0
metheonine            0
tyrosine              0
isoleucine            0
leucine               0
 phynylalanine        0
Tryptophan            0
adenosine             0
dtype: int64

In [20]:
Data_notna

,Unnamed: 0,New Code,code,Gropping,Sweetness,L,A,B,density,Fatty,...,histidine,arginine,valine,metheonine,tyrosine,isoleucine,leucine,phynylalanine,Tryptophan,adenosine
0,DC1,DC8001-1,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
1,DC1,DC8001-2,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
2,DC1,DC8001-3,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
3,DC1,DC8001-4,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
4,DC1,DC8001-5,F1,1,17.5,44.83,0.45,11.11,0.67,370.2,...,26.76,136.15,60.93,12.10,40.74,39.18,52.01,61.76,185.23,46.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,BK4,BK-10004-1,F51,6,17.0,46.73,0.76,12.34,0.66,373.3,...,53.10,307.22,89.49,12.25,57.68,59.28,100.47,139.04,403.13,55.01
229,BK4,BK-10004-2,F51,6,17.0,46.73,0.76,12.34,0.66,373.3,...,53.10,307.22,89.49,12.25,57.68,59.28,100.47,139.04,403.13,55.01
230,DL900,DL900,F53,2,16.0,55.93,1.59,14.01,0.64,337.7,...,45.36,222.45,89.64,15.34,42.08,54.29,72.41,103.74,205.76,54.87
231,DL1250,DL1250,F53,2,14.0,52.94,1.55,13.51,0.69,329.3,...,40.15,220.06,85.60,18.36,56.65,53.28,74.40,111.45,319.62,49.76
232,DL1400,DL1400,F53,2,15.0,52.06,1.29,14.17,0.67,456.0,...,35.19,151.06,75.88,14.73,45.28,46.88,68.03,93.62,148.09,46.90

In [21]:
Data_notna.to_csv('Data_not_na.csv')